<h1>Le jeu du Killer</h1>

<div>
  <h3>Les jeux en cours :</h3>

  <table>
    <thead>
    <th>Jeux</th>
    <th>Gagnant</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @games.each do |game| %>
        <tr>
          <% if game.finished? %>
              <td>Jeu n°<%= game.id %> terminé</td>
              <td><%= game.winner.try(:player) %></td>
              <td><%= link_to 'Supprimer ce jeu', game_path(game), :method => :delete %> </td>
          <% else %>
              <td><%= link_to "Jeu n°#{game.id}", game_path(game) %></td>
              <td></td>
              <td><%= link_to 'Supprimer ce jeu', game_path(game), :method => :delete %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Lancer un nouveau jeu !', init_game_games_path, :class => 'button' %>
    <% if @message %>
        <p>
          <%= @message %>
        </p>
    <% end %>
  </div>
</div>
<div>
  <h3>Les missions disponibles :</h3>

  <table>
    <thead>
    <th>Description</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @missions.each do |mission| %>
        <tr>
          <td><%= mission.description %></td>
          <td><%= link_to 'Modifier', edit_mission_path(mission) %> - <%= link_to 'Supprimer', mission_path(mission), :method => :delete %></td>
        </tr>
    <% end %>
    </table>
  <%= link_to 'Ajouter une mission', new_mission_path, :class => 'button' %>
</div>
