<h1>Nouvelle mission</h1>

<%= form_for mission do |f| %>
    <div>
    <%= label_tag 'Description : ' %>
    </div>
    <%= f.text_area :description %>
    <div>
      <%= f.submit 'Ajouter mission', :class => 'button' %>
    </div>
<% end %>
<br />
<%= link_to 'Retour à l\'accueil',  root_path %>
